<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiquan.aladdin_product.mapper.FreightTplExceptMapper" >
  <resultMap id="BaseResultMap" type="com.maiquan.aladdin_product.domain.FreightTplExcept" >
    <id column="ID" property="ID" jdbcType="INTEGER" />
    <result column="freightTplID" property="freightTplID" jdbcType="INTEGER" />
    <result column="countryID" property="countryID" jdbcType="INTEGER" />
    <result column="provinceID" property="provinceID" jdbcType="INTEGER" />
    <result column="cityID" property="cityID" jdbcType="INTEGER" />
    <result column="districtID" property="districtID" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="firstFreight" property="firstFreight" jdbcType="BIGINT" />
    <result column="secFreight" property="secFreight" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="fullSum" property="fullSum" jdbcType="BIGINT" />
    <result column="fullStatus" property="fullStatus" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="supplyID" property="supplyID" jdbcType="INTEGER" />
    <result column="sortOrder" property="sortOrder" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delTime" property="delTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, freightTplID, countryID, provinceID, cityID, districtID, address, firstFreight, 
    secFreight, status, fullSum, fullStatus, uid, supplyID, sortOrder, createTime, updateTime, 
    delTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_freight_tpl_except
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_freight_tpl_except
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maiquan.aladdin_product.domain.FreightTplExcept" >
    insert into t_freight_tpl_except (ID, freightTplID, countryID, 
      provinceID, cityID, districtID, 
      address, firstFreight, secFreight, 
      status, fullSum, fullStatus, 
      uid, supplyID, sortOrder, 
      createTime, updateTime, delTime
      )
    values (#{ID,jdbcType=INTEGER}, #{freightTplID,jdbcType=INTEGER}, #{countryID,jdbcType=INTEGER}, 
      #{provinceID,jdbcType=INTEGER}, #{cityID,jdbcType=INTEGER}, #{districtID,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{firstFreight,jdbcType=BIGINT}, #{secFreight,jdbcType=BIGINT}, 
      #{status,jdbcType=VARCHAR}, #{fullSum,jdbcType=BIGINT}, #{fullStatus,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{supplyID,jdbcType=INTEGER}, #{sortOrder,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{delTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maiquan.aladdin_product.domain.FreightTplExcept" >
    insert into t_freight_tpl_except
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        ID,
      </if>
      <if test="freightTplID != null" >
        freightTplID,
      </if>
      <if test="countryID != null" >
        countryID,
      </if>
      <if test="provinceID != null" >
        provinceID,
      </if>
      <if test="cityID != null" >
        cityID,
      </if>
      <if test="districtID != null" >
        districtID,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="firstFreight != null" >
        firstFreight,
      </if>
      <if test="secFreight != null" >
        secFreight,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="fullSum != null" >
        fullSum,
      </if>
      <if test="fullStatus != null" >
        fullStatus,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="supplyID != null" >
        supplyID,
      </if>
      <if test="sortOrder != null" >
        sortOrder,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="delTime != null" >
        delTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ID != null" >
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="freightTplID != null" >
        #{freightTplID,jdbcType=INTEGER},
      </if>
      <if test="countryID != null" >
        #{countryID,jdbcType=INTEGER},
      </if>
      <if test="provinceID != null" >
        #{provinceID,jdbcType=INTEGER},
      </if>
      <if test="cityID != null" >
        #{cityID,jdbcType=INTEGER},
      </if>
      <if test="districtID != null" >
        #{districtID,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="firstFreight != null" >
        #{firstFreight,jdbcType=BIGINT},
      </if>
      <if test="secFreight != null" >
        #{secFreight,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="fullSum != null" >
        #{fullSum,jdbcType=BIGINT},
      </if>
      <if test="fullStatus != null" >
        #{fullStatus,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="supplyID != null" >
        #{supplyID,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiquan.aladdin_product.domain.FreightTplExcept" >
    update t_freight_tpl_except
    <set >
      <if test="freightTplID != null" >
        freightTplID = #{freightTplID,jdbcType=INTEGER},
      </if>
      <if test="countryID != null" >
        countryID = #{countryID,jdbcType=INTEGER},
      </if>
      <if test="provinceID != null" >
        provinceID = #{provinceID,jdbcType=INTEGER},
      </if>
      <if test="cityID != null" >
        cityID = #{cityID,jdbcType=INTEGER},
      </if>
      <if test="districtID != null" >
        districtID = #{districtID,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="firstFreight != null" >
        firstFreight = #{firstFreight,jdbcType=BIGINT},
      </if>
      <if test="secFreight != null" >
        secFreight = #{secFreight,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="fullSum != null" >
        fullSum = #{fullSum,jdbcType=BIGINT},
      </if>
      <if test="fullStatus != null" >
        fullStatus = #{fullStatus,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="supplyID != null" >
        supplyID = #{supplyID,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null" >
        sortOrder = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delTime != null" >
        delTime = #{delTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiquan.aladdin_product.domain.FreightTplExcept" >
    update t_freight_tpl_except
    set freightTplID = #{freightTplID,jdbcType=INTEGER},
      countryID = #{countryID,jdbcType=INTEGER},
      provinceID = #{provinceID,jdbcType=INTEGER},
      cityID = #{cityID,jdbcType=INTEGER},
      districtID = #{districtID,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      firstFreight = #{firstFreight,jdbcType=BIGINT},
      secFreight = #{secFreight,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      fullSum = #{fullSum,jdbcType=BIGINT},
      fullStatus = #{fullStatus,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      supplyID = #{supplyID,jdbcType=INTEGER},
      sortOrder = #{sortOrder,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      delTime = #{delTime,jdbcType=TIMESTAMP}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <select id="selectByTplID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from t_freight_tpl_except
  	where freightTplID = #{tplID,jdbcType=INTEGER}
  </select>
  <select id="selectNoDeletedByTplID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from t_freight_tpl_except
  	where freightTplID = #{tplID,jdbcType=INTEGER}
  	AND status = 'OK#'
  </select>
</mapper>